@model ProjectCraigsList.Models.ItemViewModel
@{
    ViewBag.Title = "Home Page";
}

<div>
    <table class="table table-bordered table table-striped">
        <tr>
            <th>ID</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var k in Model.MyList)
        { 
            <tr>
                <td>@k.Description</td>
                <td>@k.CreatedBy</td>
                <td>@k.CreatedOnDate</td>
                <td>@k.City + ", " + @k.State</td>
            </tr>
        }

    </table>
</div>